body {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default margin */
}

.navbar {
  background-color: rgb(
    212,
    76,
    71); /* Background color of the navigation bar */
  overflow: hidden;
  width: 100%; /* Set a specific width for the navigation bar */
  display: flex; /* Use flexbox for centering child elements */
  justify-content: space-evenly; /* Distribute space between elements */
  padding: 2px; /* Add padding for spacing */
  border-radius: 25px;
}

.navbar a {
  color: #f2f2f2; /* Text color of the navigation links */
  text-decoration: none;
  font-size: 18px;
  padding: 8px 25px; /* Add padding for spacing */
  border-radius: 25px; /* Rounded edges for the buttons */
}

.navbar a:hover {
  background-color: #ddd; /* Background color of the buttons on hover */
  color: rgb(47, 46, 46); /* Text color of the buttons on hover */
  transition: color 0.3s ease;
  transition: background-color 0.3s;
}

/* Media query for mobile devices */
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column; /* Change flex direction to vertical */
    align-items: center; /* Center items vertically */
    width: 50%; /* Adjust width to full width of the viewport */
    height: 60px;
    overflow-y: scroll;
  }

  .navbar a {
    margin: 2px 2px; /* Add spacing between navigation items */
    font-size: 14px;
    padding: 5px 5px;
  }
}
