body {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Ensure full viewport height */
  margin: 0; /* Remove default margin */
}

.navbar {
  background-color: #cc1515; /* Background color of the navigation bar */
  overflow: hidden;
  width: 100%; /* Set a specific width for the navigation bar */
  display: flex; /* Use flexbox for centering child elements */
  justify-content: space-evenly; /* Distribute space between elements */
  padding: 5px; /* Add padding for spacing */
  border-radius: 10px;
}

.navbar a {
  color: #f2f2f2; /* Text color of the navigation links */
  text-decoration: none;
  font-size: 20px;
  padding: 10px 12px; /* Add padding for spacing */
  border-radius: 16px; /* Rounded edges for the buttons */
}

.navbar a:hover {
  background-color: #ddd; /* Background color of the buttons on hover */
  color: black; /* Text color of the buttons on hover */
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Change flex direction to vertical */
    align-items: center; /* Center items vertically */
    width: 100%; /* Adjust width to full width of the viewport */
  }

  .navbar a {
    margin: 10px 0; /* Add spacing between navigation items */
  }
}
